# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnpm
.pnpm-debug.log

# next.js
/.next/
/out/

# local env files
.env
.env*.local

# local data
/data

# misc
.DS_Store
*.pem

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# homedash local overrides
docker-compose.override.yml

scripts.json